<div class="container">
    <div class="row">
        <div class="col-md-4">
            <%= render 'layouts/book' %>
        </div>
        <div class="col-md-8">
        <br>
            <h3>感謝您的來信</h3>
            <p>我會盡快回覆您！</p>
        </div>
    </div>
</div>