<div class="container">
    <div class="row">
        <div class="col-md-4">
            <%= render 'layouts/book' %>
        </div>
        <div class="col-md-8">
        <br>
            <h3>目錄</h3>         
            <% @chapters.each do |chapter| %>
                <h4><%= link_to chapter.title, chapter %></h4>
            <% end %>
        </div>
    </div>
</div>