<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <%= image_tag("r_book.jpg", class: "img-fluid") %>
                <p>實體書由碁峰出版社發行。</p>
                <a href="https://www.tenlong.com.tw/products/9789864764822" target="_blank"><img src="" alt="前往天瓏網路書店購買"></a>
                <a href="http://www.books.com.tw/products/0010763975" target="_blank"><img src="" alt="前往博客來購買"></a>
            </div>
        </div>
        <div class="col-md-9">
        <br>
            <h1>About</h1>
        </div>
    </div>
</div>