<br><br>
<div id="book">
    <div class="col align-self-center">
        <%= image_tag("r_book.jpg", class: "img-fluid rounded mx-auto d-block") %>
    </div>
    <br>
    <div class="col align-self-center">
        <p>實體書由碁峰出版社發行，如果想要購買，可以至<a href="https://www.tenlong.com.tw/products/9789864764822" target="_blank">天瓏網路書店</a>或者<a href="http://www.books.com.tw/products/0010763975" target="_blank">博客來</a>。</p>
    </div>
</div>